@import "tailwindcss";

@theme {
  --color-der: #3b82f6;
  --color-die: #ef4444;
  --color-das: #22c55e;
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-50 antialiased overflow-x-hidden select-none;
    touch-action: pan-y;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
